[Unit]
Description=IOTA Field (By SemkoDev)
After=network.target

[Service]
WorkingDirectory=/var/lib/field/
User=iota
PrivateDevices=yes
ProtectSystem=full
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=60
ExecStart=/usr/bin/field --config /etc/field/field.ini
SyslogIdentifier=FIELD
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=field.service
