[Unit]
Description=Iota Controller AgenT (IOTA)
After=network.target

[Service]
WorkingDirectory=/var/lib/ict/
User=iota
PrivateDevices=yes
ProtectSystem=full
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=60
ExecStart=/bin/bash -c "/usr/bin/java -jar /var/lib/ict/ict.jar -c /etc/ict/ict.cfg"
SyslogIdentifier=ICT
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=ict.service
