[Unit]
Description=IRI (IOTA) full node
After=network.target

[Service]
WorkingDirectory=/var/lib/iri/
User=iota
PrivateDevices=yes
ProtectSystem=full
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=60
ExecStart=/bin/bash -c "/usr/bin/java $(tr '\n' ' ' < /etc/iri/java.properties) -jar /var/lib/iri/iri.jar -c /etc/iri/iri.ini"
SyslogIdentifier=IRI
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=iri.service
